<p id="notice"><%= notice %></p>

<h1>アイデアの一覧</h1>

<div class="ideas-container">
  <% @ideas.each do |idea| %>
  <div class="ideas-card">
    <div class="ideas-card__description"><%= idea.description %></div>
    <div class="ideas-card__user-name"><%= idea.name %></div>
    <div class="ideas-card__picture"><%= idea.picture %></div>
    <div class="ideas-card__menu">
      <span><%= link_to 'Show', idea %></span>
      <span><%= link_to 'Edit', edit_idea_path(idea) %></span>
      <span><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    </div>
  </div>
  <% end %>
</div>


<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.name %></td>
        <td><%= idea.description %></td>
        <td><%= idea.picture %></td>
        <td><%= link_to 'Show', idea %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>

<%= link_to 'New Idea', new_idea_path %>
